<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    {%block head%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%endblock%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    {% comment %}
    <link rel="stylesheet" href="css/style.css" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="">
    {%block body%}
    {%endblock%}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">PetShopiety</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tienda">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact"> Contactenos</a>
                    </li>
                    <li>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="checkbox" onclick="setDarkMode()">
                            <label class="form-check-label" for="checkbox">modo oscuro</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ADMIN PRODUCTOS -->
    <main class="d-flex align-items-center py-md-0">
        <div class="container">
            <div class="card admin-card bg-body-secondary">
                <div class="row">
                    <!-- AGREGAR PRODUCTOS -->
                    <div class="col-11">
                        <h1 class="py-2 m-0">AGREGAR PRODUCTO</h1>
                    </div>
                    <div class="col-1 py-2">
                        <button class="btn btn-agregar" data-bs-toggle="modal" data-bs-target="#modal-agregar"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="card listar-card bg-dark-subtle">
                    <div class="row mt-2">
                        <div class="col-12">
                            <h3>Productos</h3>
                        </div>

                        <div class="row mt-4 d-flex">
                            <!-- TABLA DE EDITAR PRODUCTOS -->
                            <table class="table m-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Acciones</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Categoria</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in prod %}
                                    {% comment %} aqui ocurre la magia del for {% endcomment %}
                                    <tr>
                                        <th scope="row">
                                            <a class="btn btn-success" href="/editarProducto/{{p.sku}}">EDITAR</a>
                                            <a class="btn btn-danger my-2" href="/eliminarProducto/{{p.sku}}"
                                                id="">ELIMINAR</a>
                                        </th>
                                        <td>{{p.sku}}</td>
                                        <td><img src="{{p.img_url.url}}" alt="" class="img-fluid"></td>
                                        <td>{{p.nombre}}</td>
                                        <td>{{p.stock}}</td>
                                        <td>{{p.precio}}$CLP</td>
                                        <td>{{p.descripcion}}</td>
                                        <td>{{p.id_cat}}</td>
                                        {%endfor%}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- MODAL AGREGAR -->
    <div class="modal fade" id="modal-agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/agregarProductoForm" method="POST" id="agregar-producto"
                        enctype="multipart/form-data">{% csrf_token %}
                        <div class="mb-3">
                            <label for="img" class="col-form-label">Url imagen:</label>
                            <input type="file" name="img" class="form-control" id="img" placeholder="Ingrese imagen" />
                        </div>
                        <div class="mb-3">
                            <label for="txtSku" class="col-form-label">SKU:</label>
                            <input type="text" name="txtSku" class="form-control" id="inputSku" placeholder="SKU" />
                        </div>
                        <div class="mb-3">
                            <label for="producto" class="col-form-label">Nombre producto:</label>
                            <input type="text" name="producto" class="form-control" id="inputProducto"
                                placeholder="Ingrese nombre producto">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="cantidad">Stock:</label>
                            <input type="number" name="cantidad" id="inputStock" class="form-control"
                                placeholder="Ingrese cantidad" />
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="col-form-label">Precio:</label>
                            <input type="number" name="precio" class="form-control" aria-label="Amount" id="inputPrecio"
                                placeholder="Ingrese precio CLP">
                        </div>
                        <div class="mb-3">
                            <label for="producto" class="col-form-label">Descripcion producto:</label>
                            <textarea name="descripcion" id="" class="form-control" placeholder="Escribe la descripcion"
                                cols="30" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="cmbCategoria" class="col-form-label">Categoria:</label>
                            <select name="cmbCategoria" class="form-select" aria-label="Default select example">
                                <option disabled selected>Seleccione</option>
                                {%for c in cate%}
                                <option value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                            <button value="AGREGAR" class="btn mx-3 btn-primary" id="Submit"
                                onclick="AddData()">AGREGAR</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- MODAL EDITAR -->
    {% comment %} <div class="modal fade" id="modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/editarProductoForm/{{p.sku}}" method="POST" enctype="multipart/form-data">{%
                        csrf_token %}
                        <div class="mb-3">
                            <label for="img" class="col-form-label">Url imagen:</label>
                            <input type="file" name="img" class="form-control" id="img" placeholder="Ingrese imagen" />
                        </div>
                        <div class="mb-3">
                            <label for="txtSku" class="col-form-label">SKU:</label>
                            <input readonly value="{{prod.sku}}" name="txtSku" id="txtSku" type="text"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="producto" class="col-form-label">Nombre producto:</label>
                            <input type="text" name="producto" class="form-control" id="inputProducto"
                                placeholder="Ingrese nombre producto"></input>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="cantidad">Stock:</label>
                            <input type="number" name="cantidad" id="inputStock" class="form-control"
                                placeholder="Ingrese cantidad" />
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="col-form-label">Precio:</label>
                            <input type="number" name="precio" class="form-control" aria-label="Amount" id="inputPrecio"
                                placeholder="Ingrese precio CLP">
                        </div>
                        <div class="mb-3">
                            <label for="producto" class="col-form-label">Descripcion producto:</label>
                            <input type="text" name="descripcion" class="form-control" id="inputDescripcion"
                                placeholder="Ingrese nombre producto"></input>
                        </div>
                        <div class="mb-3">
                            <label for="cmbCategoria" class="col-form-label">Categoria:</label>
                            <select name="cmbCategoria" class="form-select" aria-label="Default select example">
                                <option disabled selected>Seleccione</option>
                                {%for c in cate%}
                                <option value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                            <button type="button" class="btn btn-primary">EDITAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> {% endcomment %}

        <!-- Bootstrap script -->
        {%block script%}
        {%endblock%}

        <!-- Boton TOP -->
        <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
        </button>
        <!-- bootstrap src -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <!--SCRIPT JS-->
        <script src="{%static 'js/AdminProducts.js'%}"></script>
        <script src="{%static 'js/CRUD.js'%}"></script>
        <script src="{%static 'js/index.js'%}"></script>
</body>

</html>