<!DOCTYPE html>
<html lang="en">
{%load static%}
{%load humanize%}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {%block head%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%endblock%}
</head>

<body class="">
    {%block body%}
    {%endblock%}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-black mb-4">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href"/" style="color: white;">PetShopiety</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" style="color: white;">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about" style="color: white;">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact" style="color: white;">Contactenos</a>
                    </li>
                    <li>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="checkbox" onclick="setDarkMode()">
                            <label class="form-check-label" for="checkbox">modo oscuro</label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <main class="py-md-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="/tienda">&#x2190; Sigue comprando</a>

                    <br>
                    <br>

                    <table class="table">
                        <tr>
                            <th>
                                <h5>Productos: <strong>{{orden.obtener_total_items}}</strong></h5>
                            </th>
                            <th>
                                <h5>Total: <strong>{{orden.obtener_total_carrito|intcomma}}</strong></h5>
                            </th>
                            <th class="text-end">
                                <a class="btn btn-success" href="/checkout">Ir al Checkout</a>
                            </th>
                        </tr>
                    </table>
                </div>

                <br>

                <div class="box-element">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            {% for item in items %}
                            <tbody>
                                <tr>
                                    <td class="w-25"><img class="w-100" src="{{item.producto.img_url.url}}" alt=""></td>
                                    <td>{{item.producto.nombre}}</td>
                                    <td>{{item.producto.precio}}</td>
                                    <td>
                                        <button data-product="{{item.producto.sku}}" data-action="add" class="btn comprar">+</button>
                                        <p class="cantidad">{{item.cantidad}}</p>
                                        <button data-product="{{item.producto.sku}}" data-action="remove" class="btn comprar">-</button>
                                    </td>
                                    <td>${{item.obtener_total|intcomma}} CLP</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!-- TOP BUTTON-->
    <button type="button" class="btn btn-floating btn-lg bi-arrow-up-circle-fill" id="btn-back-to-top">
    </button>

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- JQUERY SCRIPT JS-->
    <script type="text/javascript">
        var user = '{{request.user}}'
    
    {% comment %} 
    Esto que se usa ahora es para poder crear tokens al momento que el usuario estara con la sesion iniciada.
    {% endcomment %}
        function getToken(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getToken('csrftoken');
      </script>
      <script src="{%static './js/Carrito.js'%}"></script>
 
    {%block script%}

    {%endblock%}
</body>


</html>